/* TAG LIST + SCROLLER CSS */
.small-size {
  height: 2px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center ;
  position: absolute;
  bottom: 200px;
  left: 44px;
  background-color: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  user-select: none;
  z-index: 2;
}

.medium-size {
  height: 2px;
  width: 333px;
  display: flex;
  background-color: aqua;
  align-items: center;
  justify-content: center ;
  position: absolute;
  bottom: 200px;
  left: 10px;
  background-color: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  user-select: none;
  z-index: 2;
}

.medium-size-e {
  height: 2px;
  width: 313px;
  display: flex;
  background-color: aqua;
  align-items: center;
  justify-content: center ;
  position: absolute;
  bottom: 215px;
  left: 95px;
  background-color: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  user-select: none;
  z-index: 2;
}

.medium-size-m {
  height: 2px;
  width: 330px;
  display: flex;
  align-items: center;
  justify-content: center ;
  position: absolute;
  bottom: 200px;
  left: 95px;
  background-color: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  user-select: none;
  z-index: 2;
}

.medium-size-s {
  height: 2px;
  width: 335px;
  display: flex;
  align-items: center;
  justify-content: center ;
  position: absolute;
  bottom: 230px;
  left: 15px;
  background-color: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  user-select: none;
  z-index: 2;
}

.big-size {
    height: 2px;
    width: 390px;
    display: flex;
    align-items: center;
    justify-content: center ;
    position: absolute;
    top: 180px;
    background-color: transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    user-select: none;
    z-index: 2;
} 

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.2px;
  line-height: 1.2;
}

.scroller {
  z-index: 2;
}

.scroller-inner {
  gap: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  mask: linear-gradient(90deg, transparent, white 20%, white 90%, transparent);
}

.scroller[data-animated="true"] .scroller-inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
